force-app/main/default/flows/Inspection_Flow-50.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Submit_For_Approval</name>
        <label>Submit For Approval</label>
        <locationX>332</locationX>
        <locationY>731</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>successMsg</targetReference>
        </connector>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>NewMaintenanceRecord.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>04a0t000000CcIW</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <stringValue>Please Approve Inspection</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_Completion_Date</name>
        <label>Assign Completion Date</label>
        <locationX>37</locationX>
        <locationY>390</locationY>
        <assignmentItems>
            <assignToReference>Maint_Check_1.Date_Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Maint_Check_1.Plane__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>planeRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatedPlaneRecord.Mileage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MileageAssignment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatedPlaneRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>planeRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Maint_Check_1.Fuel_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fuelLevelAssignment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatedPlaneRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Certification</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Body_External_Check</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>ZeroConstant</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Show_File_Upload</name>
        <label>Show File Upload?</label>
        <locationX>560</locationX>
        <locationY>577</locationY>
        <defaultConnector>
            <targetReference>Submit_For_Approval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>show_file_upload_window</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>showFileUpload</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>File_Upload</targetReference>
            </connector>
            <label>show file upload</label>
        </rules>
    </decisions>
    <formulas>
        <name>fuelLevelAssignment</name>
        <dataType>Number</dataType>
        <expression>VALUE({!fuelLevel})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>MileageAssignment</name>
        <dataType>Number</dataType>
        <expression>VALUE({!newAirMileage})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Inspection Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Inspection Flow V0.3</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Maintenance_Creation</name>
        <label>Maintenance Creation</label>
        <locationX>195</locationX>
        <locationY>583</locationY>
        <connector>
            <targetReference>Lookup_new_Plane_Record</targetReference>
        </connector>
        <inputReference>Maint_Check_1</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Lookup_new_Plane_Record</name>
        <label>Lookup new Inpsection Record</label>
        <locationX>350</locationX>
        <locationY>579</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Show_File_Upload</targetReference>
        </connector>
        <filters>
            <field>Plane__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>planeRecord.Id</elementReference>
            </value>
        </filters>
        <object>Maintenance_Check__c</object>
        <outputReference>NewMaintenanceRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Plane__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Plane</name>
        <label>Lookup Plane</label>
        <locationX>174</locationX>
        <locationY>38</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>inspection_Screen_1</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Plane__c</object>
        <outputReference>planeRecord</outputReference>
        <queriedFields>Mileage__c</queriedFields>
        <queriedFields>Next_Flight__c</queriedFields>
        <queriedFields>Next_Maintenance_Check__c</queriedFields>
        <queriedFields>Plane_ID__c</queriedFields>
        <queriedFields>Previous_Flight__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Last_Maintenance_Check__c</queriedFields>
        <queriedFields>Flight_Hours__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Plane</name>
        <label>Update Plane</label>
        <locationX>34</locationX>
        <locationY>582</locationY>
        <connector>
            <targetReference>Maintenance_Creation</targetReference>
        </connector>
        <inputReference>updatedPlaneRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>Body_External_Check</name>
        <label>Body External Check</label>
        <locationX>35</locationX>
        <locationY>491</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Plane</targetReference>
        </connector>
        <fields>
            <name>AirplaneBodySelector</name>
            <extensionName>c:airplaneDamageIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Maint_Check_1.General_Observations__c</assignToReference>
                <name>generalObservations</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>File_Upload</name>
        <label>File Upload</label>
        <locationX>561</locationX>
        <locationY>730</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Submit_For_Approval</targetReference>
        </connector>
        <fields>
            <name>UploadImageMessage</name>
            <fieldText>&lt;DIV ALIGN="CENTER"&gt;&lt;FONT FACE="Arial" STYLE="font-size:16px" COLOR="#000000" LETTERSPACING="0" KERNING="0"&gt;&lt;B&gt;Please Upload an Image of the Defect&lt;/B&gt;&lt;FONT STYLE="font-size:12px"&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>uploadphoto</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Defect Image</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>NewMaintenanceRecord.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.pdf,.jpg,.jpeg,.png</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>inspection_Screen_1</name>
        <label>Inspection_Screen_1</label>
        <locationX>174</locationX>
        <locationY>162</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Inspection_Screen_3</targetReference>
        </connector>
        <fields>
            <name>screen_1</name>
            <extensionName>c:inspection_screen_1</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>flightHours</name>
                <value>
                    <elementReference>planeRecord.Flight_Hours__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lastInspection</name>
                <value>
                    <elementReference>planeRecord.Last_Maintenance_Check__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>planeName</name>
                <value>
                    <elementReference>planeRecord.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextFlight</name>
                <value>
                    <elementReference>planeRecord.Next_Flight__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previousFlight</name>
                <value>
                    <elementReference>planeRecord.Previous_Flight__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>planeId</name>
                <value>
                    <elementReference>Maint_Check_1.Plane__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lastMileage</name>
                <value>
                    <elementReference>planeRecord.Mileage__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>newAirMileage</assignToReference>
                <name>newMileage</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>fuelLevel</assignToReference>
                <name>fuelLevel</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>inspection_Screen_2</name>
        <label>Inspection_Screen_2</label>
        <locationX>176</locationX>
        <locationY>388</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Completion_Date</targetReference>
        </connector>
        <fields>
            <name>screen_2</name>
            <extensionName>c:inspection_screen_2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Maint_Check_1.Aircraft_Papers_Check__c</assignToReference>
                <name>aircraftPapersCheck</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Maint_Check_1.External_Body_Damage_Check__c</assignToReference>
                <name>bodyDamageCheck</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Maint_Check_1.Landing_Gear_Check__c</assignToReference>
                <name>landingGearCheck</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Maint_Check_1.Wings_Check__c</assignToReference>
                <name>wingsCheck</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>showFileUpload</assignToReference>
                <name>showFileUpload</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Inspection_Screen_3</name>
        <label>Inspection_Screen_3</label>
        <locationX>176</locationX>
        <locationY>297</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>inspection_Screen_2</targetReference>
        </connector>
        <fields>
            <name>screen_3</name>
            <extensionName>c:inspection_screen_3</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Maint_Check_1.Engine_Observations__c</assignToReference>
                <name>engineObservations</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Maint_Check_1.Engine_Oil_Level__c</assignToReference>
                <name>engineOilLevelCheck</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Maint_Check_1.Oil_Filter__c</assignToReference>
                <name>oilFilterCheck</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Maint_Check_1.Propeller_Cracks__c</assignToReference>
                <name>propellerCheck</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Maint_Check_1.Propeller_Rotation__c</assignToReference>
                <name>propellerRotationCheck</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>successMsg</name>
        <label>successMsg</label>
        <locationX>171</locationX>
        <locationY>734</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>successMessage</name>
            <fieldText>The Maintenance Check record was created successfully and submitted for approval!</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Lookup_Plane</startElementReference>
    <variables>
        <name>contentIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>currDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>docIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>fileNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>fuelLevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Maint_Check_1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Maintenance_Check__c</objectType>
    </variables>
    <variables>
        <name>newAirMileage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0</stringValue>
        </value>
    </variables>
    <variables>
        <name>NewMaintenanceRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Maintenance_Check__c</objectType>
    </variables>
    <variables>
        <name>newMaintRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>planeRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Plane__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>showFileUpload</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>updatedPlaneRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Plane__c</objectType>
    </variables>
</Flow>
